.reviews {
    padding-bottom: 20px;
    &__list {
        padding-top: 62px;
    }
    &__item {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    hr {
        height: 1px;
        border-bottom: none;
        background-color: #f6f6f6;
        margin-top: 0;
        margin-bottom: 50px;
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 169px;
        height: 169px;
        margin-right: 60px;
    }
    &__text {
        margin-right: 60px;
    }
    &__name {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__subtitle {
        color: #646464;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 11px;
    }
    &__descr {
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
    }
}